<div class="container">
  <h2>Leave a Comment!</h2>
  <form action="/posts/<%= @post.id %>/new/comment" method="post">
   <input type="text" name="content" />
   <input type="submit" value="Leave Comment" />
    
  </form>
</div>
