<div class="container">
  <div class="sign_up">
    <form action="/user/new" method="post">
      <div>
        <h3>Create a new account:</h3>
        <li>
          Create a username:
          <input type="text" name="user[name]" value=""/>
        </li>
        <li>
          Create a password:
          <input type="password" name="user[password]" value=""/>
        </li>
        <li><input type="submit" value="Create Account" /></li>
      </div>
    </form>
  </div>
  <div class="login">
    <form action="/user/login" method="post">
      <div>
        <h3>Login:</h3>
        <li>
          Enter username:
          <input type="text" name="user[name]" value=""/>
        </li>
        <li>
          Enter password:
          <input type="password" name="user[password]" value=""/>
        </li>
        <li><input type="submit" value="Create Account" /></li>
      </div>
    </form>
  </div>
</div>
