<div class="container">
  <h2>Write a post.</h2>
  <form action="/new/post" method="post" >
  
  <p>Title</p>
  <input type="title" name="title"/>
  <br>
  <p>Content</p>
  <input type="content" name="content" />
  <br>
  <br>
  <input type="submit"  value="Create Post" />
  </form>
</div>
